.a{
    background-color: whitesmoke;
    box-shadow: 0px 5px 1px black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.botao{
    display: flex;
    gap: 15px;
}

.bo{
    color: white;
    background-color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    height: 40px;
    width: 120px;
    font-size: 25px;
    margin-right: 10px;
}