
body{
    background-color: rgb(241, 230, 230);
    margin: 0px;
}

.tabela{
    display: flex;
    background-color: orangered;
    box-shadow: 5px 5px 0px darkblue;
    width: 50%;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 10%;
    margin-left: 25%;
    border-radius: 10px;
}

.informacoes{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}


