
.sobre{
    font-size: 20px;
    color: black;
    background-color: blanchedalmond;
}

.card{
    background-color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10%;
}